.blocks-1{background:#6F98A8;}
.blocks-2{background:#2B8EAD;}
.blocks-3{background:#2F454E;}
.blocks-4{background:#2B8EAD;}
.blocks-5{background:#2F454E;}
.blocks-6{background:#BFBFBF;}
.blocks-7{background:#BFBFBF;}
.blocks-8{background:#6F98A8;}
.blocks-9{background:#2F454E;}
p.card-text{font-size: xxx-large;}


@media (max-width: 576px) {
  .card {background-color: #c5c6c7 !important;}
  .blocks-1{border-left: 20px solid #6F98A8;}
  .blocks-2{border-left: 20px solid #2B8EAD;}
  .blocks-3{border-left: 20px solid #2F454E;}
  .blocks-4{border-left: 20px solid #2B8EAD;}
  .blocks-5{border-left: 20px solid #2F454E;}
  .blocks-6{border-left: 20px solid #BFBFBF;}
  .blocks-7{border-left: 20px solid #BFBFBF;}
  .blocks-8{border-left: 20px solid #6F98A8;}
  .blocks-9{border-left: 20px solid #2F454E;}
	.well {-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;}
	.count{-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;}
}